<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Grocery Bud</title>
	<link rel="stylesheet" href="./style.css">
</head>
<body class="bg-gray-200">

	<div class="md:flex md:justify-center py-16">
		<div class="flex flex-col items-center bg-white shadow-lg mx-4 md:w-3/5 space-y-4 py-4">
			<!-- Header -->
			<div class="text-2xl font-bold text-blue-700 tracking-widest">Grocery Bud</div>
			<!-- Alert -->
			<div id="alert" class="w-2/3">
			</div>
			<!-- Input -->
			<div>
				<form id="form" action="">
					<div class="flex items-center justify-center">
						<input id="input" class="bg-gray-200 focus:outline-none pl-4 py-2 rounded-l-full" type="text" placeholder="Your todos...">
						<button id="seBtn" class="uppercase tracking-widest font-semibold rounded-r-full bg-blue-200 text-gray-800 px-4 py-2 focus:outline-none hover:bg-blue-300">Submit</button>
					</div>
				</form>
			</div>
			<!-- todo -->
			<div id="todoList" class="w-full md:w-2/3 flex flex-col space-y-2 overflow-auto"></div>
			<!-- Clear All  -->
			<div id="clearAll" class="hidden text-center text-red-500 tracking-widest font-semibold capitalize hover:bg-gray-100 hover:text-red-600 rounded-full px-4 py-1 cursor-pointer">
				clear List
			</div>
		</div>
	</div>f
	<script src="./app.js"></script>
</body>
</html>


def preview_page(request, sl):
    applicant_image_form = ApplicantImageForm()
    applicant_info = ApplicantInfo.objects.select_related(
        'present_dist', 'present_ps', 'permanent_dist',
        'permanent_ps'
    ).get(sl=sl)
    education_info = ApplicantEducation.objects.select_related(
        'ssc_exam', 'hsc_exam', 'gra_exam', 'mas_exam',
        'ssc_board', 'hsc_board', 'ssc_subject', 'hsc_subject',
        'gra_subject', 'mas_subject', 'gra_institute', 'mas_institute'
    ).get(invoice=applicant_info.sl)
    if request.method == 'POST':
        applicant_image_form = ApplicantImageForm(
            request.POST or None, request.FILES or None
        )
        if applicant_image_form.is_valid():
            instance = applicant_image_form.save(commit=False)
            applicant = ApplicantInfo.objects.get(sl=sl)
            invoice = applicant.invoice
            try:
                images_data = ApplicantImage.objects.get(invoice=applicant)
            except Exception:
                images_data = None
            if not images_data:
                instance.invoice = applicant
                if instance.photo:
                    im = Image.open(instance.photo)
                    p_s = im.size
                    if p_s[0] == 300 and p_s[1] == 300:
                        im.thumbnail(size=(100, 100))
                        thumb_io = BytesIO()
                        rgb_im = im.convert('RGB')
                        rgb_im.save(thumb_io, im.format, quality=100)
                        instance.photo.save(
                            f'{invoice}.png', ContentFile(thumb_io.getvalue()),
                            save=False
                        )
                    else:
                        context = {
                            'applicant': applicant_info,
                            'education': education_info,
                            'form': applicant_image_form,
                            'message': 'photo'
                        }
                        return render(request, 'dpe/preview.html', context)
                if instance.signeture:
                    im2 = Image.open(instance.signeture)
                    s_s = im2.size
                    if s_s[0] == 300 and s_s[1] == 80:
                        im2.thumbnail(size=(100, 100))
                        thumb_io = BytesIO()
                        rgb_im2 = im2.convert('RGB')
                        rgb_im2.save(thumb_io, im2.format, quality=100)
                        instance.signeture.save(
                            f'{invoice}.png', ContentFile(thumb_io.getvalue()),
                            save=False
                        )
                    else:
                        context = {
                            'applicant': applicant_info,
                            'education': education_info,
                            'form': applicant_image_form,
                            'message': 'signature'
                        }
                        return render(request, 'dpe/preview.html', context)
                instance.save()
                return redirect('final-report', invoice=invoice)
            else:
                return redirect('final-report', invoice=invoice)
        else:
            context = {
                'applicant': applicant_info,
                'education': education_info,
                'form': applicant_image_form,
                'message': ''
            }
            return render(request, 'dpe/preview.html', context)
    context = {
        'applicant': applicant_info,
        'education': education_info,
        'form': applicant_image_form
    }
    return render(request, 'dpe/preview.html', context)

<form id="form" action="{% url 'final-report' applicant.invoice %}" method="post">
	<input name="button" disabled id="button02" type="submit" value="Submit the Application" />
	<input id="postUrl" type="hidden" value="{% url 'final-report' applicant.invoice %}
	">
</form>
<script>
	let postUrl = document.querySelector('#postUrl');
	let form = document.querySelector('#form');

	form.addEventListener('submit', function(e) {
		e.preventDefault();
		let URL = postUrl.value
		ajaxSend(URL);
	});

	async function ajaxSend(URL){
		let res = fetch(URL,{method: 'POST'})
	}

</script>